@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #5f5d7f;
    display: flex;
    justify-content: center;
  }
  
.container {
    width: 800px;
    padding: 20px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

#background_image {
    width: 795px;
    height:450px;  
}
.title {
    font-size: 50px;
    color: rgb(102, 137, 218);
    text-align: center;
       
}

.subtitle {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#nameInput {
    font-size: 25px;
    color: rgb(102, 137, 218); 
}
#addButton {
    
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(102, 137, 218);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
      
#addButton:hover {
        background-color: #3071a9;
}

.divider {
    border-top: 3px solid #5f5d7f;
    border-radius: 2px;
  }

.submenu {
    font-size: 25px;
    color: rgb(102, 137, 218); 
}
.menuchoice {
    font-size: 25px;
    color: rgb(12, 34, 87); 
}


#query {
    float: left;
    margin: left 20px;
}

#querybutton {
        
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(102, 137, 218);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
    }
          
#querybutton:hover {
    background-color: #3071a9;
}

#newnote {
    float: left;
    margin: left 20px;
}

#addNote {
      
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(102, 137, 218);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
      
#addNote:hover {
        background-color: #3071a9;
}


#seebutton {
        
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(102, 137, 218);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
    }
          
#seebutton:hover {
    background-color: #3071a9;
}

.foundnotes {
    font-size: 25px;
    color: rgb(12, 34, 87); 
}